<div id="twitter-button">
  <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.backpack.io" data-text="I just signed up for Backpack.io, a new marketplace for web development tutorials." data-via="backpackdotio">Tweet</a>
</div>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=135182883234230";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="fb-button" class="fb-like" data-href="http://www.backpack.io" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true" data-font="arial"></div>

<div id="gplus-button">
  <div class="g-plusone" data-href="http://www.backpack.io"></div>
</div>

<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>