<div class="hexagons">
	<div class="hex-row">
		<div class="hex">
			<div class="top"></div>
			<div class="middle"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle"></div>
			<div class="bottom"></div>
		</div>
	</div>
	<div class="hex-row even">
		<div class="hex">
			<div class="top"></div>
			<div class="middle"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle"></div>
			<div class="bottom"></div>
		</div>
	</div>
	<div class="hex-row">
		<div class="hex">
			<div class="top"></div>
			<div class="middle"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle"></div>
			<div class="bottom"></div>
		</div>
	</div>

	<div id="email-container" class="email-form">
		<h1>An elegant marketplace for online tutorials.</h1>
		<%= form_for @user , :html => { :class => "email-form" } do |f| %>
		  <%= f.text_field :email, :placeholder => "Enter your email" %>
		  <%= f.submit "Submit" %>
		<% end %>
	</div>
</div>

