<div class="hexagons">
	<div class="hex-row">
		<div class="hex">
			<div class="top"></div>
			<div class="middle" id="python"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle" id="rails"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle" id="django"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle" id="ruby"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle" id="mongo"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle" id="compass"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle" id="angular"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle"></div>
			<div class="bottom"></div>
		</div>
	</div>
	<div class="hex-row even">
		<div class="hex">
			<div class="top"></div>
			<div class="middle" id="git"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle" id="jquery"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle" id="javascript"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle" id="redis"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle" id="backbone"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle" id="html5"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle" id="postgres"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle" id="modernizr"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle"></div>
			<div class="bottom"></div>
		</div>
	</div>
	<div class="hex-row">
		<div class="hex">
			<div class="top"></div>
			<div class="middle" id="sinatra"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle" id="php"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle" id="ember"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle" id="go"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle" id="node"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle" id="handlebars"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle" id="clojure"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle"></div>
			<div class="bottom"></div>
		</div>
	</div>

	<div id="email-container" class="email-form">
		<h1>An elegant marketplace for online tutorials.</h1>
		<!-- <h2>Backpack.io</h2> -->
		<%= form_for @user , :html => { :class => "email-form" } do |f| %>
		  <%= f.text_field :email, :placeholder => "Enter your email" %>
		  <%= f.submit "Submit" %>
		<% end %>
	</div>
</div>

