<div class="hexagons">
	<div class="hex-row">
		<div class="hex">
			<div class="top"></div>
			<div class="middle" id="python"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle" id="rails"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle" id="django"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle" id="ruby"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle" id="mongo"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle" id="compass"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle" id="angular"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle"></div>
			<div class="bottom"></div>
		</div>
	</div>
	<div class="hex-row even">
		<div class="hex">
			<div class="top"></div>
			<div class="middle" id="git"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle" id="jquery"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle" id="javascript"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle" id="redis"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle" id="backbone"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle" id="html5"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle" id="postgres"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle" id="modernizr"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle"></div>
			<div class="bottom"></div>
		</div>
	</div>
	<div class="hex-row">
		<div class="hex">
			<div class="top"></div>
			<div class="middle" id="sinatra"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle" id="php"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle" id="ember"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle" id="go"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle" id="node"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle" id="handlebars"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle" id="clojure"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle"></div>
			<div class="bottom"></div>
		</div>
	</div>

	<div id="email-container" class="email-form">
		<h1>Changing the way you learn how to code.</h1>
		<!-- <h2>Backpack.io</h2> -->
		<%= form_for @user , html: { class: "email-form" }, remote: true do |f| %>
		  <%= f.text_field :email, :placeholder => "Enter your email" %>
		  <%= f.submit "Request Invite" %>
		<% end %>
	</div>
</div>

<div id="container">
	<div id="nine-sixty-box-container">
		<p class="oneliner">A marketplace for web development tutorials.</p><br>
	</div>
	<div id="nine-sixty-box-container">
		<div class="column" id="first">
			<div class="box" id="first-box"></div>
			<p class="box-header">Learn from the best.</p>
			<p class="box-info">Watch videos featuring the developers you already know and love. Our ever-growing library of screencasts covers the latest technologies and features hackers, designers, and startup gurus from your favorite companies.</p>
		</div>
		<div class="column" id="second">
			<div class="box" id="second-box"></div>
			<p class="box-header">Follow your favorites.</p>
			<p class="box-info">Backpack lets you follow your favorite developers so you'll be the first to know when they publish new videos. In addition, you can follow tags to stay on the cutting edge of all your most used technologies.</p>
		</div>
		<div class="column" id="third">
			<div class="box" id="third-box"></div>
			<p class="box-header">Sell your own videos.</p>
			<p class="box-info">We believe that sharing your expertise should be easy. Upload your first free or paid video within minutes and manage all of your analytics with our secure Dashboard. Video ratings and reviews allow for a premium customer experience.</p>
		</div>
	</div>
</div>

