<div class="hexagons">
	<div class="hex-row">
		<div class="hex">
			<div class="top"></div>
			<div class="middle" id="python"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle" id="rails"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle" id="django"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle" id="ruby"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle" id="mongo"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle" id="compass"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle" id="angular"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle"></div>
			<div class="bottom"></div>
		</div>
	</div>
	<div class="hex-row even">
		<div class="hex">
			<div class="top"></div>
			<div class="middle" id="git"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle" id="jquery"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle" id="javascript"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle" id="redis"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle" id="backbone"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle" id="html5"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle" id="postgres"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle" id="modernizr"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle"></div>
			<div class="bottom"></div>
		</div>
	</div>
	<div class="hex-row">
		<div class="hex">
			<div class="top"></div>
			<div class="middle" id="sinatra"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle" id="php"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle" id="ember"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle" id="go"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle" id="node"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle" id="handlebars"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle" id="clojure"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle"></div>
			<div class="bottom"></div>
		</div>
		<div class="hex">
			<div class="top"></div>
			<div class="middle"></div>
			<div class="bottom"></div>
		</div>
	</div>

	<div id="email-container" class="email-form">
		<h1>Changing the way that developers learn and teach.</h1>
		<!-- <h2>Backpack.io</h2> -->
		<%= form_for @user , html: { class: "email-form" }, remote: true do |f| %>
		  <%= f.text_field :email, :placeholder => "Enter your email" %>
		  <%= f.submit "Request Invite" %>
		<% end %>
		<p class="email-failure-message"></p>
	</div>
</div>

<div id="container">
	<div id="nine-sixty-box-container">
		<p id="about" class="oneliner"><span class="bold-oneliner">Backpack. </span>A marketplace for web development tutorials.</p><br>
	</div>
	<div id="nine-sixty-box-container">
		<div class="column" id="first">
			<div class="box" id="first-box"></div>
			<p class="box-header">Learn from the best.</p>
			<p class="box-info">Watch videos featuring the developers you already know and love. Our ever-growing library of screencasts covers the latest technologies and features hackers, designers, and startup gurus from your favorite companies.</p>
		</div>
		<div class="column" id="second">
			<div class="box" id="second-box"></div>
			<p class="box-header">Follow your favorites.</p>
			<p class="box-info">Backpack lets you follow your favorite developers so you'll be the first to know when they publish new videos. In addition, you can follow tags to stay on the cutting edge of all your most used technologies.</p>
		</div>
		<div class="column" id="third">
			<div class="box" id="third-box"></div>
			<p class="box-header">Sell your own videos.</p>
			<p class="box-info">We believe that sharing your expertise should be easy. Upload your first free or paid video within minutes and manage all of your analytics with our secure Dashboard. Video ratings and reviews allow for a premium customer experience.</p>
		</div>
	</div>
</div>
<div id="team-container">
	<div id="team-960">
		<h4>The Backpack Team</h4>
		<div class="team-column" id="first-member">
			<div class="team-photo" id="first-photo">
				<div class="member-info">
					<h3>Max Gillett</h3>
					<p>Javascript ninja, Neuroscience at Vanderbilt, hates cheese.</p>  <a href="http://github.com/maxgillett">Github</a><a href="http://maxgillett.com">Blog</a><a href="http://twitter.com/maxgillett">Twitter</a>
				</div>
			</div>
		</div>
		<div class="team-column" id="second-member">
			<div class="team-photo" id="second-photo">
				<div class="member-info">
					<h3>Zach Sherman</h3>
					<p>Developer/Designer Hybrid, Economics at Vanderbilt, Worked at Shelby.tv, loves sushi.</p>
					<a href="http://github.com/zsherman">Github</a><a href="http://zachsherman.me">Blog</a><a href="http://twitter.com/zshrm">Twitter</a><a href="http://twitter.com/zsherman">Dribbble</a>
				</div>
			</div>
		</div>
		<div class="team-column" id="third-member">
			<div class="team-photo" id="third-photo">
				<div class="member-info">
					<h3>Nikhil<br>Goel</h3>
					<p>Product Manager & Back-end engineer, Worked at Google & Microsoft, Computer Engineering at Vanderbilt.</p>
					<a href="http://linkedin.com/in/ngoel1">LinkedIn</a><a href="http://nikhilgoel.me">Blog</a><a href="http://twitter.com/ngoel36">Twitter</a>
				</div>
			</div>
		</div>
		<div class="team-column" id="fourth-member">
			<div class="team-photo" id="fourth-photo">
				<div class="member-info">
					<h3>Luke Steensen</h3>
					<p>Rails Guru, Computer Engineering at Vanderbilt, Back-end lead.</p>
					<a href="http://github.com/lukesteensen">Github</a><a href="www.linkedin.com/pub/luke-steensen/21/511/130">LinkedIn</a><a href="http://twitter.com/lukesteensen">Twitter</a>
				</div>
			</div>
		</div>

	</div>
</div>
<div id="features-container">
	<div id="features-960">
		<div class="feature-column">
			<div class="feature">
				<div class="feature-icon" id="feature-icon-one"></div>
				<h4>Unlimited Storage</h4>
				<p class="feature-description">We never limit your videos by size or length, and you can upload all of your screencasts in pure HD - for free. Feel free to upload your entire catalog of tutorials and sharing them with the Backpack community.</p>
			</div>
			<div class="feature">
				<div class="feature-icon" id="feature-icon-two"></div>
				<h4>Embeddable Player</h4>
				<p class="feature-description">Using just a line of code, you can embed any video on your website or blog. Users can pay for videos directly in the Player, and all payments will still be processed through Backpack.</p>
			</div>
		</div>
		<div class="feature-column">
			<div class="feature">
				<div class="feature-icon" id="feature-icon-three"></div>
				<h4>Video Library</h4>
				<p class="feature-description">Bookmark any free or purchased video with one click and view your entire Library with ease. Sorted by author, date, or tag, keep your purchases and favorite videos organized in one place.</p>
			</div>
			<div class="feature">
				<div class="feature-icon" id="feature-icon-four"></div>
				<h4>Watch Anywhere</h4>
				<p class="feature-description">Our website is fully responsive. Whether you're on a Retina Macbook, a tablet, or just your phone, you can always access your entire Backpack Library with ease.</p>
			</div>
		</div>
		<div class="feature-column">
			<div class="feature">
				<div class="feature-icon" id="feature-icon-five"></div>
				<h4>Show Notes</h4>
				<p class="feature-description">If you don't have time to watch the whole video or you just forgot your headphones at home, most Backpack videos have a full Notes section with screenshots and code samples to explore at your leisure.</p>
			</div>
			<div class="feature">
				<div class="feature-icon" id="feature-icon-six"></div>
				<h4>Accept Payments</h4>
				<p class="feature-description">Backpack uses secure Stripe technology to process payments to and from users. All major credit cards are accepted, and if you sell videos, your balance is deposited weekly directly to your bank account.</p>
			</div>
		</div>
	</div>
</div>

