/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/**
 * End Reset
 */

body {
	background-color: #f2f6f7;
}

 #header-container {
 	width: 100%;
 	height: 50px;
 	background-color: #fff;
 	border-bottom: 1px solid #b6babb;
 }

 header#main {
 	width: 960px;
 	margin: auto;
 	background-color: blue;
 	display: block;
 }

 #multicolor {
 	height: 2px;
 	background-image: url('multicolor.png');
 	background-repeat: repeat-x;
 	width: 100%;
 }

 #logo {
 	float: left;
 	display: block;
 	height: 50px;
 	width: 150px; /**100px with other logo **/
 	background-image: url('backpacklogo.png');
 	background-repeat: no-repeat;
 	background-position: center;
 }

 nav#main {
 	float: right;
 	display: block;
 	position: relative;
 }

 #main ul {
	display: block;
 }

 #main li {
 	color: black;
 	float:left;
 	padding: 5px 12px 5px 12px;
 	line-height: 40px;
 }

 #main a {
 	text-decoration: none;
 	color: #818181;
 	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 15px;
 }

 #main a:hover {
 	text-decoration: underline;
 }

 /**
 * Hexagons
 */

.hexagons {
 	position: relative;
 	width: 100%;
 	overflow: hidden;
 	height: 565px;
}

.hex {
    float: left;
    margin-left: 20px;
    margin-bottom: -26px;
}

.hex .top {
    width: 0;
    border-bottom: 52px solid #e8edef;
    border-left: 88px solid transparent;
    border-right: 88px solid transparent;
}
.hex .middle {
    width: 176px;
    height: 101px;
    background: #e8edef;
    background-repeat: no-repeat;
    background-position: center;
}
.hex .bottom {
    width: 0;
    border-top: 52px solid #e8edef;
    border-left: 88px solid transparent;
    border-right: 88px solid transparent;
}

.hex-row {
    clear: left;
    position: relative;
    white-space: nowrap;
    width: 2500px;
}
.hex-row.even {
    margin-left: -97px;
}

#python {
    background-image: url('icons/python.png');
}

#python:hover {
    background-image: url('icons/python-color.png');
}

#rails {
    background-image: url('icons/rails.png');
}

#rails:hover {
    background-image: url('icons/rails-color.png');
}

#django {
    background-image: url('icons/django.png');
}

#django:hover {
    background-image: url('icons/django-color.png');
}

#ruby {
    background-image: url('icons/ruby.png');
}

#ruby:hover {
    background-image: url('icons/ruby-color.png');
}

#mongo {
    background-image: url('icons/mongo.png');
}

#mongo:hover {
    background-image: url('icons/mongo-color.png');
}

#compass{
    background-image: url('icons/compass.png');
}

#compass:hover {
    background-image: url('icons/compass-color.png');
}

#jquery {
    background-image: url('icons/jquery.png');
}

#jquery:hover {
    background-image: url('icons/jquery-color.png');
}

#javascript {
    background-image: url('icons/javascript.png');
}

#javascript:hover {
    background-image: url('icons/javascript-color.png');
}

#backbone {
    background-image: url('icons/backbone.png');
}

#backbone:hover {
    background-image: url('icons/backbone-color.png');
}

#html5 {
    background-image: url('icons/html5.png');
}

#html5:hover {
    background-image: url('icons/html5-color.png');
}

#sinatra {
    background-image: url('icons/sinatra.png');
}

#sinatra:hover {
    background-image: url('icons/sinatra-color.png');
}

#php {
    background-image: url('icons/php.png');
}

#php:hover {
    background-image: url('icons/php-color.png');
}

#ember {
    background-image: url('icons/ember.png');
}

#ember:hover {
    background-image: url('icons/ember-color.png');
}

#go {
    background-image: url('icons/go.png');
}

#go:hover {
    background-image: url('icons/go-color.png');
}

#node {
    background-image: url('icons/node.png');
}

#node:hover {
    background-image: url('icons/node-color.png');
}

#handlebars {
    background-image: url('icons/handlebars.png');
}

#handlebars:hover {
    background-image: url('icons/handlebars-color.png');
}

#postgres {
    background-image: url('icons/postgres.png');
}

#postgres:hover {
    background-image: url('icons/postgres-color.png');
}

#git {
    background-image: url('icons/git.png');
}

#git:hover {
    background-image: url('icons/git-color.png');
}

#redis {
    background-image: url('icons/redis.png');
}

#redis:hover {
    background-image: url('icons/redis-color.png');
}

#angular {
    background-image: url('icons/angular.png');
}

#angular:hover {
    background-image: url('icons/angular-color.png');
}

#clojure {
    background-image: url('icons/clojure.png');
}

#clojure:hover {
    background-image: url('icons/clojure-color.png');
}

#modernizr {
    background-image: url('icons/modernizr.png');
}

#modernizr:hover {
    background-image: url('icons/modernizr-color.png');
}
/**
 * Form
 */


 #email-container {
 	position: relative;
	margin: 0 auto;
	top: -220px;
	width: 400px;
    height: 100px;
    margin: 6px auto 3px;
    padding: 15px;
    position: relative;

    /* Styles */
    background: #fff;
    border-radius: 4px;
    color: #7e7975;
    box-shadow:
        0 2px 2px rgba(0,0,0,0.2),
        0 1px 5px rgba(0,0,0,0.2),
        0 0 0 12px rgba(255,255,255,0.4);
 }

 #email-container h1 {
 	position: relative;
 	top: -150px;
 	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    margin: 0 auto;
    width: 100%;
    display: inline;
    text-align: center;
    margin-left: 50px;

 }

 #email-container h2 {

 }

 #email-container form {
    display: inline;
 }

 .email-form {
 	position: relative;
 	top: -10px;
 }

 .email-form input[type="text"] {
 	border: 1px solid #ddd;
	background: #f5f5f5;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	height: 30px;
	font-size: 15px;
	padding-left: 8px;
	width: 70%;
    position: relative;
    top: -110px;
 }

 .email-form input[type=submit] {
    /* Size and position */
    width: 25%;
    height: 34px;
    float: right;
    position: relative;
    top: -110px;

    /* Styles */
    box-shadow: inset 0 1px rgba(255,255,255,0.3);
    border-radius: 3px;
    cursor: pointer;

    /* Font styles */
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 14px;
    line-height: 30px; /* Same as height */
    text-align: center;
    font-weight: bold;
}

.email-form input[type=submit] {
    margin-right: 1%;
    background: #34a5cf; /* Fallback */
    background: -moz-linear-gradient(#34a5cf, #2a8ac4);
    background: -ms-linear-gradient(#34a5cf, #2a8ac4);
    background: -o-linear-gradient(#34a5cf, #2a8ac4);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#34a5cf), to(#2a8ac4));
    background: -webkit-linear-gradient(#34a5cf, #2a8ac4);
    background: linear-gradient(#34a5cf, #2a8ac4);
    border: 1px solid #2b8bc7;
    color: #ffffff;
    text-shadow: 0 -1px rgba(0,0,0,0.3);
    text-decoration: none;
}

.email-form input[type=submit]:hover {
    box-shadow:
        inset 0 1px rgba(255,255,255,0.3),
        inset 0 20px 40px rgba(255,255,255,0.15);
}

.no-boxshadow .email-form input[type=submit]:hover {
    background: #2a8ac4;
}

#one-liner {
    width: 100%;
    background: #fff;
    border: 1px solid #b6babb;
    text-align: center;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    color: #7E7975;
    padding: 10px;
}

#container {
    width: 100%;
    border-top: 1px solid #b6babb;
    padding-top: 20px;
    background: #fff;
}

#nine-sixty-box-container {
    width: 960px;
    position: relative;
    margin: 0 auto;
    overflow: auto;
}

.column {
    float: left;
    width: 30%;
    padding: 5px;
    min-height: 300px;
    margin-left: 25px;
    margin-bottom: 20px;
}

.column:first-child {
    margin-left: 0px;
}

.column .box {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #bdc1c1;
    background: #f5f9fa;
    min-height: 200px;
    margin-bottom: 15px;
    background-image: url('box-1.png');
    background-repeat: no-repeat;
    background-position: center;
}

.box#first-box {
    background-image: url('video.png');
    background-repeat: no-repeat;
    background-position: center;
}

.box#second-box {
    background-image: url('yehuda.png');
    background-repeat: no-repeat;
    background-position: center;
}

.oneliner {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    color: #7a7a7a;
    font-size: 49px;
    padding-left: 5px;
    padding-bottom: 10px;
}

.box-header {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    color: #7a7a7a;
    font-size: 19px;
    padding-left: 5px;
    padding-bottom: 10px;
}

.box-info {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 15px;
    padding-left: 5px;
    color: #8c8a8a;
    line-height: 21px;
}

#footer-container {
    width: 100%;
    height: 50px;
    background: #F2F6F7;
    border-top: 1px solid #b6babb;
}

#footer {
    width: 960px;
    margin: 0 auto;
    text-align: center;
}

#footer-links {
    display: inline-block;
    margin: 0 auto;
}

#footer-links li {
    color: #686563;
    float: left;
    padding: 5px 12px 5px 12px;
    line-height: 40px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

#footer-links li a {
    text-decoration: none;
    color: #686563;
}

#footer-links li a:hover {
    text-decoration: underline;
}