/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

/* 
 Spritemapper configuration
 
 Help: Download spritemapper (http://yostudios.github.com/Spritemapper/)
       Execute 'spritemapper application.css' from within the stylsheets directory
       to generate the sprite icons image 

       Run a grep or egrap to find and replace all '../images/icons' with 'icons' in application.css ONLY

 spritemapper.sprite_dirs = ../images/
 spritemapper.anneal_steps = 4500
 spritemapper.output_css = application.css 
 spritemapper.output_image = ../images/icons/icons_sprites.png
 
*/



/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/**
 * End Reset
 */

body {
	background-color: #f2f6f7;
}

 #header-container {
 	width: 100%;
 	height: 50px;
 	background-color: #fff;
 	border-bottom: 1px solid #b6babb;
 }

 header#main {
 	width: 960px;
 	margin: auto;
 	background-color: blue;
 	display: block;
 }

 #multicolor {
 	height: 2px;
 	background: url('multicolor.png');
 	background-repeat: repeat-x;
 	width: 100%;
 }

 #logo {
 	float: left;
 	display: block;
 	height: 50px;
 	width: 150px; /**100px with other logo **/
 	background: url('backpacklogo.png');
 	background-repeat: no-repeat;
 	background-position: center;
 }

 nav#main {
 	float: right;
 	display: block;
 	position: relative;
 }

 #main ul {
	display: block;
 }

 #main li {
 	color: black;
 	float:left;
 	padding: 5px 12px 5px 12px;
 	line-height: 40px;
 }

 #main a {
 	text-decoration: none;
 	color: #818181;
 	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 15px;
 }

 #main a:hover {
 	text-decoration: underline;
 }

 /**
 * Hexagons
 */

.hexagons {
 	position: relative;
 	width: 100%;
 	overflow: hidden;
 	height: 565px;
}

.hex {
    float: left;
    margin-left: 20px;
    margin-bottom: -26px;
}

.hex .top {
    width: 0;
    border-bottom: 52px solid #e8edef;
    border-left: 88px solid transparent;
    border-right: 88px solid transparent;
}

.hex .middle {
    width: 176px;
    height: 101px;
    background: #e8edef;
    background-repeat: no-repeat;
    background-position: center;
}

.hex .middle div {
    position: relative;
    top: 20px;
    left: 60px;
    width: 55px;
    height: 55px;
}

.hex .bottom {
    width: 0;
    border-top: 52px solid #e8edef;
    border-left: 88px solid transparent;
    border-right: 88px solid transparent;
}

.hex-row {
    clear: left;
    position: relative;
    white-space: nowrap;
    width: 2500px;
}

.hex-row.even {
    margin-left: -97px;
}

.python {
    background: url('../images/icons/python.png');
}

.hex:hover .middle .python {
    background: url('../images/icons/python-color.png');
}

.rails {
    background: url('../images/icons/rails.png');
}

.hex:hover .middle .rails {
    background: url('../images/icons/rails-color.png');
}

.django {
    background: url('../images/icons/django.png');
}

.hex:hover .middle .django {
    background: url('../images/icons/django-color.png');
}

.ruby {
    background: url('../images/icons/ruby.png');
}

.hex:hover .middle .ruby {
    background: url('../images/icons/ruby-color.png');
}

.mongo {
    background: url('../images/icons/mongo.png');
}

.hex:hover .middle .mongo {
    background: url('../images/icons/mongo-color.png');
}

.compass{
    background: url('../images/icons/compass.png');
}

.hex:hover .middle .compass {
    background: url('../images/icons/compass-color.png');
}

.jquery {
    background: url('../images/icons/jquery.png');
}

.hex:hover .middle .jquery {
    background: url('../images/icons/jquery-color.png');
}

.javascript {
    background: url('../images/icons/javascript.png');
}

.hex:hover .middle .javascript {
    background: url('../images/icons/javascript-color.png');
}

.backbone {
    background: url('../images/icons/backbone.png');
}

.hex:hover .middle .backbone {
    background: url('../images/icons/backbone-color.png');
}

.html5 {
    background: url('../images/icons/html5.png');
}

.hex:hover .middle .html5 {
    background: url('../images/icons/html5-color.png');
}

.sinatra {
    background: url('../images/icons/sinatra.png');
}

.hex:hover .middle .sinatra {
    background: url('../images/icons/sinatra-color.png');
}

.php {
    background: url('../images/icons/php.png');
}

.hex:hover .middle .php {
    background: url('../images/icons/php-color.png');
}

.ember {
    background: url('../images/icons/ember.png');
}

.hex:hover .middle .ember {
    background: url('../images/icons/ember-color.png');
}

.go {
    background: url('../images/icons/go.png');
}

.hex:hover .middle .go {
    background: url('../images/icons/go-color.png');
}

.node {
    background: url('../images/icons/node.png');
}

.hex:hover .middle .node {
    background: url('../images/icons/node-color.png');
}

.handlebars {
    background: url('../images/icons/handlebars.png');
}

.hex:hover .middle .handlebars {
    background: url('../images/icons/handlebars-color.png');
}

.postgres {
    background: url('../images/icons/postgres.png');
}

.hex:hover .middle .postgres {
    background: url('../images/icons/postgres-color.png');
}

.git {
    background: url('../images/icons/git.png');
}

.hex:hover .middle .git {
    background: url('../images/icons/git-color.png');
}

.redis {
    background: url('../images/icons/redis.png');
}

.hex:hover .middle .redis {
    background: url('../images/icons/redis-color.png');
}

.angular {
    background: url('../images/icons/angular.png');
}

.hex:hover .middle .angular {
    background: url('../images/icons/angular-color.png');
}

.clojure {
    background: url('../images/icons/clojure.png');
}

.hex:hover .middle .clojure {
    background: url('../images/icons/clojure-color.png');
}

.modernizr {
    background: url('../images/icons/modernizr.png');
}

.hex:hover .middle .modernizr {
    background: url('../images/icons/modernizr-color.png');
}
/**
 * Form
 */


 #email-container {
 	position: relative;
	margin: 0 auto;
	top: -220px;
	width: 400px;
    height: 100px;
    margin: 6px auto 3px;
    padding: 15px;
    position: relative;

    /* Styles */
    background: #fff;
    border-radius: 4px;
    color: #7e7975;
    box-shadow:
        0 2px 2px rgba(0,0,0,0.2),
        0 1px 5px rgba(0,0,0,0.2),
        0 0 0 12px rgba(255,255,255,0.4);
 }

 #email-container h1 {
 	position: relative;
 	top: -150px;
 	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    margin: 0 auto;
    width: 100%;
    display: inline;
    text-align: center;
    margin-left: 20px;

 }

 #email-container h2 {

 }

 #email-container form {
    display: inline;
 }

 .email-form {
 	position: relative;
 	top: -10px;
 }

 .email-form input[type="text"] {
 	border: 1px solid #ddd;
	background: #f5f5f5;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	height: 30px;
	font-size: 15px;
	padding-left: 8px;
	width: 65%;
    position: relative;
    top: -110px;
 }

 .email-form input[type=submit] {
    width: 120px;
    height: 34px;
    float: right;
    position: relative;
    top: -110px;
    box-shadow: inset 0 1px rgba(255,255,255,0.3);
    border-radius: 3px;
    cursor: pointer;
    font-family: Calibri, Arial, sans-serif;
    font-size: 14px;
    line-height: 30px; /* Same as height */
    text-align: center;
    font-weight: bold;
}

.email-form input[type=submit] {
    margin-right: 1%;
    background: #34a5cf; /* Fallback */
    background: -moz-linear-gradient(#34a5cf, #2a8ac4);
    background: -ms-linear-gradient(#34a5cf, #2a8ac4);
    background: -o-linear-gradient(#34a5cf, #2a8ac4);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#34a5cf), to(#2a8ac4));
    background: -webkit-linear-gradient(#34a5cf, #2a8ac4);
    background: linear-gradient(#34a5cf, #2a8ac4);
    border: 1px solid #2b8bc7;
    color: #ffffff;
    text-shadow: 0 -1px rgba(0,0,0,0.3);
    text-decoration: none;
}

.email-form input[type=submit]:hover {
    box-shadow:
        inset 0 1px rgba(255,255,255,0.3),
        inset 0 20px 40px rgba(255,255,255,0.15);
}

.no-boxshadow .email-form input[type=submit]:hover {
    background: #2a8ac4;
}

 .email-success {
    border: 1px solid green;
 }

 .email-success-message {
    color: green;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 14px;
    position: relative;
    top: -100px;
    margin-left: 11px;
 }

  .email-failure-message {
    color: red;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 14px;
    position: relative;
    top: -115px;
    margin-left: 5px;
 }

 .email-failure {
    border: 1px solid red;
 }

/***** About Section *****/

#one-liner {
    width: 100%;
    border: 1px solid #b6babb;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #7E7975;
    padding: 10px;
    font-size: 25px;
}

.bold-oneliner {
    color: #757575;
    font-weight: 400;
}


#container {
    width: 100%;
    border-top: 1px solid #b6babb;
    padding-top: 20px;
    background: #fff;
}

#nine-sixty-box-container {
    width: 960px;
    position: relative;
    margin: 0 auto;
    overflow: auto;
}

.column {
    float: left;
    width: 30%;
    padding: 5px;
    min-height: 300px;
    margin-left: 25px;
    margin-bottom: 20px;
}

.column:first-child {
    margin-left: 0px;
}

.column .box {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #bdc1c1;
    background: #f5f9fa;
    min-height: 200px;
    margin-bottom: 15px;
    background: url('box-1.png');
    background-repeat: no-repeat;
    background-position: center;
}

.box#first-box {
    background: url('video.png');
    background-repeat: no-repeat;
    background-position: center;
}

.box#second-box {
    background: url('yehuda.png');
    background-repeat: no-repeat;
    background-position: center;
}

.oneliner {
    font-family: 'Lato', sans-serif;
    color: #a5a5a5;
    font-size: 49px;
    padding-left: 5px;
    padding-bottom: 10px;
    font-weight: bold;
}

.box-header {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    color: #7a7a7a;
    font-size: 19px;
    padding-left: 5px;
    padding-bottom: 10px;
}

.box-info {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 15px;
    padding-left: 5px;
    color: #8c8a8a;
    line-height: 21px;
}

/***** Team Section ******/

#team-container {
    width: 100%;
    min-height: 200px;
    border-top: 1px solid #b6babb;
    overflow: auto;
}

#team-960 {
    width: 960px;
    position: relative;
    margin: 0 auto;
    overflow: auto;
    padding-top: 10px;
}

#team-960 h4 {
    text-align: center;
    color: #757575;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    padding-bottom: 5px;
    font-weight: bold;    
}

#team-description {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #7a7a7a;
    text-align: center;
}

#team-960 h4 .bold {
    color: #757575;
}

.team-column {
    float: left;
    width: 23%;
    padding: 5px;
    min-height: 200px;
    margin: 20px 0 30px 5px;
    height: 200px;
}

.team-photo {
    width: 100%;
    height: 100%;
    height: 210px;
    border-radius: 50%;
    position: relative;
    cursor: default;
    background-size: 100%;
    box-shadow: 
        inset 0 0 0 8px rgba(255,255,255,0.6),
        0 1px 2px rgba(0,0,0,0.1);
        
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#first-photo {
    background: url('max.jpeg');
    background-size: 100%;
}

#second-photo {
    background: url('zach.jpeg');
    background-size: 100%;
}

#third-photo {
    background: url('nikhil.jpeg');
    background-size: 100%;
}

#fourth-photo {
    background: url('luke.jpeg');
    background-size: 100%;
}

.member-info {
    position: absolute;
    background: #fff;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    opacity: 0;
    
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    
    -webkit-backface-visibility: hidden;
}

.member-info h3 {
    color: #7A7A7A;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 22px;
    margin: 0 30px;
    padding: 45px 0 0 0;
    height: 140px;
    font-family: 'Open Sans', Arial, sans-serif;
    text-shadow: 
        0 0 1px #fff, 
        0 1px 2px rgba(0,0,0,0.3);
}

.member-info p {
    color: #7A7A7A;
    padding: 10px 5px;
    font-style: italic;
    margin-top: -100px;
    margin-left: 20px;
    font-size: 12px;
    border-top: 1px solid rgba(255,255,255,0.5);
    opacity: 0;
    -webkit-transition: all 1s ease-in-out 0.2s;
    -moz-transition: all 1s ease-in-out 0.2s;
    -o-transition: all 1s ease-in-out 0.2s;
    -ms-transition: all 1s ease-in-out 0.2s;
    transition: all 1s ease-in-out 0.2s;
}

.member-social {
    margin-left: 35px;
    margin-top: -5px;
}

.member-info a {
    display: inline-block;
    color: #7A7A7A;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 9px;
    letter-spacing: 1px;
    font-family: 'Open Sans', Arial, sans-serif;
    width: 35px;
    height: 35px;
    background-image: url('social.png');
}

.blog{
    background-position: -670px -208px;
}

.twitter{
    background-position: -409px -260px;
}

.linkedin{
    background-position: -410px -52px;
}

.github{
    background-position: -97px -260px;
}

.dribbble{
    background-position: -356px -104px;
}

.team-photo:hover {
    box-shadow: 
        inset 0 0 0 1px rgba(255,255,255,0.1),
        0 1px 2px rgba(0,0,0,0.1);
}
.team-photo:hover .member-info {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.team-photo:hover .member-info p {
    opacity: 1;
}

/***** Features Section *****/

#features-container {
    width: 100%;
    min-height: 200px;
    border-top: 1px solid #b6babb;
    overflow: auto;
    background: #fff;
}

#features-960 {
    width: 960px;
    position: relative;
    margin: 0 auto;
    overflow: auto;
    padding-top: 10px;
}

.feature-column {
    float: left;
    width: 31%;
    margin-left: 5px;
    padding: 5px;
}

.feature {
    width: 91%;
    float: left;
    margin-bottom: 30px;
}

.feature-column:first-child {
    margin-left: 25px;
}

.feature p {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 13px;
    color: #969696;
    line-height: 20px;
}

.feature h4 {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 200;
    color: #606060;
    font-size: 18px;
    margin-right: 38px;
    padding: 5px;
}

.feature-icon {
    position: relative;
    height: 32px;
    width: 32px;
    left: 100px ;
}

#feature-icon-one {
    background: url('../images/icons/infinity.png');
}

#feature-icon-two {
    background: url('../images/icons/play.png');
}

#feature-icon-three {
    background: url('../images/icons/video.png');   
}

#feature-icon-four {
    background: url('../images/icons/cloud.png');
}

#feature-icon-five {
    background: url('../images/icons/notes.png');
}

#feature-icon-six {
    background: url('../images/icons/credit-card.png');
}



/***** Footer ******/

#footer-container {
    width: 100%;
    height: 50px;
    background: #F2F6F7;
    border-top: 1px solid #b6babb;
}

#footer {
    width: 960px;
    margin: 0 auto;
    text-align: center;
}

#footer-links {
    display: inline-block;
    margin: 0 auto;
}

#footer-links li {
    color: #686563;
    float: left;
    padding: 5px 12px 5px 12px;
    line-height: 40px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

#footer-links li a {
    text-decoration: none;
    color: #686563;
}

#footer-links li a:hover {
    text-decoration: underline;
}

.oneliner {
    text-align: center;
    font-size: 25px;
}

