<!DOCTYPE html>
<html>
<head>
  <title>Launchpage</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="header-container">
		<div id="multicolor"></div>
		<header id="main">
			<a href="#"><div id="logo"></div></a>
			<nav id="main">
				<ul>
					<li><a href="#">Explore</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Team</a></li>
					<li><a href="#">Contact</a></li>
					<li><a href="#">Blog</a></li>
				</ul>
			</nav>
		</header>
	</div>
<%= yield %>
	<div id="footer-container">
		<div id="footer">
			<ul id="footer-links">
				<li><a href="#">Blog</a></li>
				<li><a href="#">Contact</a></li>
				<li><a href="#">Press</a></li>
				<li><a href="#">Facebook</a></li>
				<li><a href="#">Twitter</a></li>
			</ul>
		</div>
	</div>
</body>
</html>
